body {
    margin: 0 auto;
    padding: 0;
    background-color: white;
}
.navbar li a {
    color: black !important;
}
.bottom-div li {
    font-weight: bold;
    
}
.icons {
    display: flex;
}
.cart, .surf{
    margin-left: 15px;
}
.spin-logo {
    width: 50%;
    /* background-color: yellow; */
}
.header-video, .section {
    width: 100%;
}
.header img{
    width: 100%;
}
.ham {
    display: none;
}

.explore, .shopping-description {
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.section-images {
    width: 98%;
    display: flex;
    justify-content: space-evenly;
   /* margin-left: 10px; */
}
.left-biker {
    width: 30%;
    margin-right: 17px;
    
}
.middle-biker {
    width: 30%;
    margin-left: 10px;
    
}
.right-biker {
    width: 30%;
    margin-left: 30px;
}
.studio-video {
    width: 100%;
    /* background-color: aqua; */
    margin-top: 40px;
    margin-bottom: 40px;
}
.studio-video img{
    width: 100%;
}
.shopping-section {
    width: 100%;
    /* background-color: darkred; */
    /* height: 600px; */
    /* margin-bottom: 550px; */
}
.shopping-images {
    width: 100%;
    margin-top: 60px;
  justify-content: space-evenly;
    display: flex;
    /* height: 300px; */
    flex-wrap: wrap;
    text-align: center;
}
.item-two, .item-three, .item-five, .item-six, .item-seven, .item-eight {
width: 300px;
height: 100%;
/* padding-top: 20px; */
}
.item-four, .item-one {
    width: 300px;
    height: 100%;
    /* padding-bottom: 40px; */
}
.shopping-images img{
    width: 100%;
    height: 100%;
}
.text {
    font-size: 22px;
}
.our-story {
    background-color: rgb(245, 244, 244);
    width: 100%;
}
.as-seen-images {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* .as-seen-images img{
    width: 100%;
} */
.as-seen, h2{
    text-align: center;
    font-size: 22px;
}
.story {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    /* margin-bottom: 100px; */
}
.born {
    width: 100%;
    /* height: 300px; */
    display: flex;
    background-color: rgb(182, 22, 22);
}
.born-image {
    width: 50%;
    /* background-color: thistle; */
}
.born-image img{
    width: 80%;
    height: 100%;
    border-radius: 8px;
    /* top: 120px; */
    /* bottom: 100px; */
    margin-left: 50px;
}
.born-from-the-road {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    
}
.born-from-the-road p{
    font-size: 18px;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
   color: white;
   
}
hr {
    width: 60%;
    size: 8;
    color: white;
    /* margin-left: 30px; */
}
.arrow img {
margin-left: 60px;
/* margin-bottom: 50px; */
}
.arrow, h3{
/* text-align: center; */
font-size: 20px;
width: 60%;
font-weight: bold;
margin: 0 auto;
color: white;
/* margin-right: 50px; */
margin-bottom: 40px;
/* margin-top: 10px; */
}
.arrow img {
    float: right;
    background-color: none;
    color: white;
    text-decoration: none;
}
.our-fans {
    width: 100%;
    background: rgb(247, 244, 244);
}
.fans {
    /* position: relative; */
    width: 100%;
	/* overflow: hidden; */
    display: flex;
    margin-top: 30px;
    /* width: 90%; */
    /* background: violet; */
}
h4, .lizzy, .our-fans p{
    text-align: center;
    font-size: 22px;
}
.fans img{
	/* display: block; */
	width: 100%;
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 0% 100%);
	clip-path: polygon(0% 0%, 50% 0%, 100% 80%, 0% 80%);
}
.quotation {
    width: 50%;
    margin-top: 120px;
    height: 350px;
    margin-right: 120px;
    background: rgb(230, 228, 228);
}
.right-quote {
    float: right;
}
.right-quote, .left-quote{
    /* font-size: 100px; */
    color: darkred;
}
.feedback {
text-align: center;
}
.biography {
    width: 95%;
    padding-left: 30px;
    /* padding-bottom: 70px; */

}
.biography p{
    text-align: center;
    font-size: 15px;
}
.our-community {
    width: 100%;
    /* margin-bottom: 10px; */
    display: flex;
    background: rgb(247, 244, 244);
}
.community {
    width: 50%;
    padding-left: 25px;
    font-size: 20px;
    padding-top: 30px;
    font-weight: lighter;

}
.face, .tweet, .insta, .yout {
    /* border-radius: 50%; */
    padding-left: 20px;
}
.mailing-list {
    width: 40%;
    display: flex;
    /* font-size: 20px; */
    /* background-color: coral; */
}
.email {
    width: 50%;
    font-weight: 600;
    color: rgb(88, 87, 87);
}
.address {
    width: 60%;
    padding-left: 40px;
    padding-top: 15px;
    font-size: 13px;
}

input[type="text"] {
    width: 180px;
    height: 40px;
    /* border-radius: 25px; */
    color: darkgrey;
    padding-right: 40px;
    font-size: 14px;
}
input[type="submit"] {
    margin-left: -50px;
    height: 40px;
    width: 50px;
    background: darkgrey;
    color: white;
    border: 0;
    -webkit-appearance: none;
}
.last-div {
    width: 100%;
    background-color: rgb(247, 244, 244);
    display: flex;
    text-align: center;
}
.support, .information, .brands, .shops, .education, .about-us{
    margin-left: 20px;
}
li, .one, .two, .three, .four, .five, .six{
    list-style-type: none;
    color: rgb(88, 87, 87);
    text-decoration: none;
    padding-top: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    /* background-color: rgb(145, 136, 145); */
}
h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.footer {
    width: 100%;
    /* margin: 0 auto; */
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: rgb(247, 244, 244);
}
.footer p{
    font-size: 12px;
    font-weight: lighter;
    color: rgb(88, 87, 87);
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 750px){
.header-video, .section, .shopping-description {
    width: 100%;
    text-align: center;
}
body {
    overflow-x: hidden;
}
.section-images, .studio-video, .left-biker, .middle-biker, .right-biker {
    width: 100%;
    flex-wrap: wrap;
    justify-items: center;
}
.studio-video img{
    width: 100%;
}
.header-video img{
    width: 100%;
}
.shopping-images, .item-one, .item-two, .item-three, .item-four, .item-five, .item-six {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

.last-div {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}
.support, .information, li, .brands, .shops, .education, .about-us {
    width: 80%;
    flex-wrap: wrap;
    /* text-align: center; */
}
.as-seen-images, .seen-one, .seen-two, .seen-three, .seen-four, .seen-five {
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
}
.story, .born, .arrow {
    /* text-align: center; */
    width: 100%;
    background-color: rgb(250, 246, 246);
    flex-wrap: wrap;
    color: black;
    /* height: 300px; */
}
.born-image, .born-from-the-road {
    text-align: center;
    width: 80%;
    color: black;
    margin-left: 15px;
    flex-wrap: wrap;
}
.born-from-the-road p, h3{
    color: black;
}
.our-fans, .fans {
    width: 100%;
    font-size: 18px;
    text-align: center;
    flex-wrap: wrap;
}
.fans img{
    width: 100%;
    /* display: block; */
}
.quotation {
    text-align: center;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 90px;
    font-size: 15px;
}
.left-quote, .right-quote {
    display: block;
}
.biography {
    text-align: center;
    width: 95%;
}
.our-community {
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    /* margin-left: 50px; */
}
.community, .mailing-list {
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
      margin-left: 80px;
}
.face, .tweet, .insta, .yout {
    /* width: 100%; */
    display: flex;
    text-align: center;  
}
.address {
    font-size: 12px;
}
.ham {
    display: block;
    float: right; 
    color: black;
    font-size: 30px;
}
.row {
    display: none;
}
.surf, .cart {
    display: block;
    float: center;
}
 
}